/* 
 * HTML Elements
 */
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif, 'Montserrat', sans-serif;
}

/* 
 * IDs
 */
#home {
  background-image: url("https://images.unsplash.com/photo-1544726226-48db83ba1534?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


/* 
 * Classes
 */
/* ASK NIC BEFORE ADDING OTHER STYLES HERE */
.app-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ASK NIC BEFORE ADDING OTHER STYLES HERE */
.router-content {
  flex: 1 0 auto;
}

.card-content { /*FreightContainer Card */
  background: #fff;
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
  display: block;
  height: 900px;
  width: 500px;
  margin: 1rem;
  position: relative;
}
.card-panel {
  background: #fff;
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
  display: block;
  height: 300px;
  width: 300px;
  margin: 1rem;
  position: relative;
}
