/* 
 * HTML Elements
 */
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif, 'Montserrat', sans-serif;
}

/* 
 * IDs
 */
#home {
  background-image: url("https://images.unsplash.com/photo-1544726226-48db83ba1534?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


/* 
 * Classes
 */
/* ASK  BEFORE ADDING OTHER STYLES HERE */
.app-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* ASK  BEFORE ADDING OTHER STYLES HERE */
.router-content {
  flex: 1 0 auto;
}
.z-depth-1{
display: inline-block; 
padding: 32px 48px 0px 48px; 
border: 1px solid #EEE;
}

.card-content { /*FreightContainer Card */
  border-radius: 30px;
  box-shadow: 10px 10px 5px rgb(218, 216, 216);
  display: block;
  height: 980px;
  width: 500px;
  margin: 1rem;
  text-align: center;
  
}
.card-panel {
  background: #fff;
  border-radius: 30px;
  box-shadow: 10px 10px 5px grey;
  display: block;
  height: 300px;
  width: 300px;
  margin: 1rem;
  position: relative;
}
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}